@model Eng4You.Models.AddBooks

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "AddBooks", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AddBooks</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="col-md-12">
        <div class="form-group text-center">
            <div class="form-group" style="text-align:left;left:2%">
                <i class="fas fa-3x fa-image mb-4" style="left: 2%; font-size: 18px; display: unset; margin-inline-end: 8px; position: relative; align-content: center; color: #ffcc00"></i>
                <label class="label" for="ImageFileBookEN" style="color: black; position: relative; left: 2%">
                    @Eng4You.Resources.Resource.Update_Image_Section
                </label>
                <br /><br />
                <img id="previewImageBookEN" src="@Url.Content("~/Uploads/" + Model.FrontBookImageinEnglish)" alt="Current Image" style="height: auto; max-height: 250px; max-width: 250px; display: @(string.IsNullOrEmpty(Model.FrontBookImageinEnglish) ? "none" : "block")" class="mx-auto d-block" />
                <br />
                <input type="file" id="ImageFileBookEN" name="ImageFileBookEN" class="form-control" style="border:none;height:57px" onchange="previewFile(this, 'previewImageBookEN')" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group text-center">
            <div class="form-group" style="text-align:left;left:2%">
                <i class="fas fa-3x fa-image mb-4" style="left: 2%; font-size: 18px; display: unset; margin-inline-end: 8px; position: relative; align-content: center; color: #ffcc00"></i>
                <label class="label" for="ImageFileBookAR" style="color: black; position: relative; left: 2%">
                    @Eng4You.Resources.Resource.Update_Image_Section
                </label>
                <br /><br />
                <img id="previewImageBookAR" src="@Url.Content("~/Uploads/" + Model.FrontBookImageinArabic)" alt="Current Image" style="height: auto; max-height: 250px; max-width: 250px; display: @(string.IsNullOrEmpty(Model.FrontBookImageinArabic) ? "none" : "block")" class="mx-auto d-block" />
                <br />
                <input type="file" id="ImageFileBookAR" name="ImageFileBookAR" class="form-control" style="border:none;height:57px" onchange="previewFile(this, 'previewImageBookAR')" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group text-center">
            <div class="form-group" style="text-align:left;left:2%">
                <i class="fas fa-3x fa-image mb-4" style="left: 2%; font-size: 18px; display: unset; margin-inline-end: 8px; position: relative; align-content: center; color: #ffcc00"></i>
                <label class="label" for="ImageFileBookTR" style="color: black; position: relative; left: 2%">
                    @Eng4You.Resources.Resource.Update_Image_Section
                </label>
                <br /><br />
                <img id="previewImageBookTR" src="@Url.Content("~/Uploads/" + Model.FrontBookImageinTurkish)" alt="Current Image" style="height: auto; max-height: 250px; max-width: 250px; display: @(string.IsNullOrEmpty(Model.FrontBookImageinTurkish) ? "none" : "block")" class="mx-auto d-block" />
                <br />
                <input type="file" id="ImageFileBookTR" name="ImageFileBookTR" class="form-control" style="border:none;height:57px" onchange="previewFile(this, 'previewImageBookTR')" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group text-center">
            <div class="form-group" style="text-align:left;left:2%">
                <i class="fas fa-3x fa-image mb-4" style="left: 2%; font-size: 18px; display: unset; margin-inline-end: 8px; position: relative; align-content: center; color: #ffcc00"></i>
                <label class="label" for="ImageFileBookBack" style="color: black; position: relative; left: 2%">
                    @Eng4You.Resources.Resource.Update_Image_Section
                </label>
                <br /><br />
                <img id="previewImageBookBack" src="@Url.Content("~/Uploads/" + Model.BackBookImage)" alt="Current Image" style="height: auto; max-height: 250px; max-width: 250px; display: @(string.IsNullOrEmpty(Model.BackBookImage) ? "none" : "block")" class="mx-auto d-block" />
                <br />
                <input type="file" id="ImageFileBookBack" name="ImageFileBookBack" class="form-control" style="border:none;height:57px" onchange="previewFile(this, 'previewImageBookBack')" />
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.UrlSeeBookinEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UrlSeeBookinEnglish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UrlSeeBookinEnglish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UrlSeeBookinArabic, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UrlSeeBookinArabic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UrlSeeBookinArabic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UrlSeeBookinTurkish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UrlSeeBookinTurkish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UrlSeeBookinTurkish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookDescriptioninEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookDescriptioninEnglish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BookDescriptioninEnglish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookDescriptioninArabic, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookDescriptioninArabic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BookDescriptioninArabic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookDescriptioninTurkish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookDescriptioninTurkish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BookDescriptioninTurkish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AoutherNameinEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AoutherNameinEnglish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AoutherNameinEnglish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AoutherNameinArabic, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AoutherNameinArabic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AoutherNameinArabic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AoutherNameinTurkish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AoutherNameinTurkish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AoutherNameinTurkish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/js/update-image-major-in-edit-book.js"></script>
