@model Eng4You.Models.AddMajorSection
@using Microsoft.AspNet.Identity
@using WebApplication1.Models

@{
    ViewBag.Title = "Eng4You | Add Section";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/Create-Section.css" rel="stylesheet">

</head>

<header style="width:100%;position:relative;margin:auto; " dir="@Eng4You.Resources.Resource.dir">
    <div class="item">
        <div class="cover">
            <div class="header-content wow fadeInRightBig" data-wo-delay="0.1s" style="left:10%">
                <div class="line" style="left:4.5%; text-align:center">
                    <br /><br />
                    <h2 style="font-weight:bold;font-size:45px;color:#000;">@Eng4You.Resources.Resource.Add_A_New_Section!!!</h2>
                </div>
            </div>

        </div>
    </div>
</header>
<br />
<br />



    @using (Html.BeginForm("Create", "AddMajorSections", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<body style="overflow-x: hidden;">

    <div class="container form-container" class="wow fadeInLeftBig" style="background-color: #fff; border: 5px solid #FFCC00; border-radius: 20px; padding: 22px;">
        <form method="POST" data-type="contactform">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <i class="fas fa-edit mb-4" style="font-size: 18px; color: #ffcc00;"></i>
                        <label class="label" for="NameofMajor" style="color: black;">@Eng4You.Resources.Resource.Section_Name_In_English</label>
                        <input required class="form-control" id="NameofMajor" name="NameofMajor" type="text" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <i class="fas fa-edit mb-4" style="font-size: 18px; color: #ffcc00;"></i>
                        <label class="label" for="NameofMajorinArabic" style="color: black;">@Eng4You.Resources.Resource.Section_Name_In_Arabic</label>
                        <input required class="form-control" id="NameofMajorinArabic" name="NameofMajorinArabic" type="text" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <i class="fas fa-edit mb-4" style="font-size: 18px; color: #ffcc00;"></i>
                        <label class="label" for="NameofMajorinTurkish" style="color: black;">@Eng4You.Resources.Resource.Section_Name_In_Turkish</label>
                        <input required class="form-control" id="NameofMajorinTurkish" name="NameofMajorinTurkish" type="text" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <i class="fas fa-image mb-4" style="font-size: 18px; color: #ffcc00;"></i>
                        <label class="label" for="MajorImage" style="color: black;">@Eng4You.Resources.Resource.Upload_Image_Section</label>
                        <input type="file" id="ImageFile" name="ImageFile" class="form-control" style="border: none; height: 57px;" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" required value="@Eng4You.Resources.Resource.Add_Section" class="btn btn-success btn-block" style="background-color: #ffcc00; border-radius: 20px; font-weight: bold; color: black; font-size: 20px; border: 3.5px outset #ffcc00;">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <br />
    <br />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
    }
