@{
    ViewBag.Title = "Eng4You | About_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Construction Company Website Template" name="keywords">
    <meta content="Construction Company Website Template" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <!-- Template Stylesheet -->
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/about.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">


</head>

<body>
    <br />
    <div id="about" class="about-us section" dir="@Eng4You.Resources.Resource.dir" style="position:relative;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image wow zoomIn " data-wow-delay="0.1s">
                        <img src="~/images/about.jpeg">
                    </div>
                </div>
                <div class="col-lg-6" style="top:22px; position:relative;text-align:start" dir="@Eng4You.Resources.Resource.dir">
                    <div class="section-heading" dir="@Eng4You.Resources.Resource.dir">
                        <h2 class="wow bounce " data-wow-delay="0.2s" dir="@Eng4You.Resources.Resource.dir"> <span style="text-decoration:line-through solid 4px #ffcc00;text-align:start ">  @Eng4You.Resources.Resource.Who</span> <span>@Eng4You.Resources.Resource.Are_We...</span></h2>
                        <p class="wow fadeIn " data-wow-delay="0.4s" dir="@Eng4You.Resources.Resource.dir" style="color:dimgray; line-height:2;text-align:start"><span style="border:dotted #ffcc00 3px ;border-radius:15px;padding:3px; padding-left:6px;padding-right:6px"><span style="color:#000;font-weight:bold ">@Eng4You.Resources.Resource.Eng</span><span style="color:#ffcc00;font-weight:bold "> @Eng4You.Resources.Resource._for </span><span style="color:#000;font-weight:bold ">@Eng4You.Resources.Resource.You</span></span> @Eng4You.Resources.Resource.is_dedicated_to_catering_to_engineers_and_engineering_enthusiasts_alike__by_offering_free_courses_across_various_engineering_disciplines_in_a_seamless_and_user_friendly_manner__Moreover__our_extensive_book_library_encompasses_resources_covering_all_branches_of_engineering__additionally__we_highlight_the_achievements_and_successes_of_engineers_from_diverse_backgrounds_and_nationalities__fostering_a_rich_and_inclusive_engineering_learning_environment_</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="htc__counterup__area ptb--50" style="background-color:#000 ; width:100%;position:relative;height:245px;padding-top:25px" dir="@Eng4You.Resources.Resource.dir">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__counterup__wrap">

                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count" style="transform: translateX(+20%);position:relative;justify-content:center">
                                        <div class="wow rotateIn " data-wow-delay="0.1s">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="65px" height="65px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="#ffcc00"><path d="M20.232 10.055c.48-.54 1.308-1.356 1.264-1.689c.034-.323-.141-.627-.491-1.234l-.494-.856c-.373-.648-.56-.972-.877-1.101c-.318-.13-.677-.028-1.395.176l-1.22.344c-.46.106-.94.046-1.359-.17l-.337-.194a2 2 0 0 1-.788-.968l-.334-.997c-.22-.66-.33-.99-.59-1.179C13.348 2 13 2 12.306 2h-1.114c-.695 0-1.042 0-1.303.188c-.262.19-.371.52-.591 1.18l-.334.996a2 2 0 0 1-.788.968l-.337.195c-.419.215-.9.275-1.359.169l-1.22-.344c-.718-.204-1.077-.306-1.395-.176c-.317.129-.504.453-.877 1.1l-.494.857c-.35.607-.525.911-.49 1.234c.033.323.267.584.736 1.105l1.03 1.152c.253.32.432.876.432 1.375c0 .5-.18 1.056-.431 1.375L2.74 14.526c-.469.521-.703.781-.737 1.105s.141.627.491 1.234l.494.856c.373.648.56.972.877 1.101c.318.13.677.028 1.395-.176l1.22-.344a2 2 0 0 1 1.36.17l.336.194c.359.23.635.569.788.968l.334.997c.22.66.34 1.003.541 1.148c.06.043.3.24.888.221M15 17.218s1 .284 1.5 1.284c0 0 1.096-2.5 2.508-3" /><path d="M22 16.999a5 5 0 1 1-10 0a5 5 0 0 1 10 0m-7.84-7.556c-.84-.684-1.5-.948-2.46-.948c-1.8.024-3.444 1.51-3.444 3.444c0 1.065.324 1.74.936 2.448" /></g></svg>
                                            <br /><br />
                                        </div>
                                        <span class="count" style="left: 35%; position: relative; justify-content: center">@Eng4You.Resources.Resource._150</span>
                                        <br />
                                        <div class="fact__title" style="justify-content:center;position:relative;transform:translateX(+20%)">
                                            <h2 style="position:relative;text-align:center">@Eng4You.Resources.Resource.TOTAL_PROJECTS</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count" style="transform: translateX(+20%);position:relative;justify-content:center">
                                        <div class="wow rotateIn " data-wow-delay="0.1s">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 24 24">
                                                <g fill="#ffcc00">
                                                    <path d="M13 6h-2v1a1 1 0 1 0 2 0z" />
                                                    <path fill-rule="evenodd" d="M6 2v2h1v3a5 5 0 0 0 5 5 5 5 0 0 0-5 5v3H6v2h12v-2h-1v-3a5 5 0 0 0-5-5 5 5 0 0 0 5-5V4h1V2zm3 2h6v3a3 3 0 1 1-6 0zm0 13v3h6v-3a3 3 0 1 0-6 0" clip-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </div>
                                        <br />
                                        <span class="count" style="left:25%; transform:translateX(-50%);">24</span>
                                        <br />
                                        <div class="fact__title" style="justify-content:center;position:relative;transform:translateX(+16%)">
                                            <h2 style="position:relative;text-align:center">@Eng4You.Resources.Resource.HOURS_OF_WROK</h2>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count" style="transform: translateX(+20%);position:relative;justify-content:center">
                                        <div class="wow rotateIn " data-wow-delay="0.1s">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 512 512"><path fill="#ffcc00" justify-content="center" ; left="65%" d="M93.8 114.6c-4.7 1.1-1.7.9-5.6 1.4c-16.7 3.6-4.3 6.8 5.6-1.4m293.7 6.7c1.2-.8 5.4-4.9-7.7-8.9c.8 4.1-2.7 3.7-2.7 6c9.7 8.8 13.7 24.1 26.1 27.3c2.4-11-11-16.4-15.7-24.4m-302.6-9.9c1.5 8.9 8.2-9.4 8.3-15.9c-2.6 1.5-5.2 3-7.9 4.2c6.3 3.2.8 6.6-6 11.7c-13.8 17.2 12.9-13.4 5.6 0M256 0C114.6 0 0 114.6 0 256c0 141.3 114.6 256 256 256s256-114.7 256-256C512 114.6 397.4 0 256 0m6.8 85.8l1.2.4c-4.8 6.2 25 24.3 3.6 25.8c-20 5.7 8.4-5.2-7.1-3.3c8.2-11.4-6.5-11.6 2.3-22.9m-121.4 16.4c-7.2-6-29.8 8.2-21.9 4.8c19.6-7.7 1.3.8 5.9 10c-4.2 8.7-1.4-8.6-11.8 1.7c-7.5 1.7-25.9 18.7-23.6 13.5c-.6 8.1-21.9 17.7-24.8 31.2c-7 18.7-1.7-.7-3-8c-10-12.7-28.2 21.5-22.8 35c9.1-16 8.4-1.7 1.8 5.4c6.7 12.3-6.1 28.3 6.6 37.4c5.6 1.3 16.8-18.8 11.9 2.1c3.4-18.1 9.4 4.3 19.1-.7c.6 9.5 6.5 5.1 7.8 16.6c16.2-1.2 31 26.2 11.7 31.4c2.9-.8 8.6 4.3 15.2.4c11.2 8.9 40.7 10 41.5 32c-20.3 9.7-5 36.3-22.6 45.8c-20.2-3-6.9 24.9-15.4 21.7c3.4 20.1-20.4-2.6-11.2 8.5c16.9 10.4-7.4 8.3.2 15.9c-8.5-1.8 5.3 15.8 7.6 22.3c12.2 19.8-10.5-4.4-17.2-11c-6.4-12.8-21.5-37.3-25.7-57.4c-2.4-29.2-25-48.8-30.2-77.3c-5.2-15.9 14.3-41.4 3.8-50.3c-9.1-7.1-5.4-31.4-10.8-44.2C47 130.5 89.9 81.2 141.4 52c-5.3 3.9 30.3-10.1 26.2-6.7c-1.1 2.5 20.8-9.5 34-11.3c-1.4.2-34.3 12-25.2 10.4c-14.1 6.9-1.4 3 5.6-.5c-14 10.3-24.8 7.4-40.7 16.5c-16 4.2-12.7 20.8-24.1 29.1c6.7 1.2 23.5-17.3 33.3-23.8c22.5-10.9-11.4 19.8 10 6.6c-7.2 6.7-5.7 17.4-10.1 20.4c-2.2-.6 8.7 5.2-9 9.5m35-46c-2.3 3.1-5.5 9.8-7.4 5.7c-2.6 1.3-3.6 6.9-8.5 2.4c2.9-2.1 5.9-7.1.2-4c2.6-2.8 25.8-10.7 24.5-13.7c4.1-2.6 3.7-3.9-1-2.3c-2.4-.8 5.7-7.6 16.5-8.5c1.5 0 2.1 1-.6.7c-16.3 5-9.3 3.6 1.7 0c-4.2 2.4-7.1 3.1-7.8 4.2c11-4-.6 2.9 1.9 2.4c-3.1 1.6.5 2.1-5.5 4.4c1.1-.9-9.8 6.5-3.3 4.3c-6.3 6-9.1 6.1-10.7 4.4m9.6 14.3c.2-9.6 14-15.7 12.3-16.2c17-8-5.9.3 7.5-6.9c5-.5 15.6-16.5 30.3-17.5c16.2-4.9 8.7.3 20.7-4.3l-2.4 2c-2.1.3.5 4-7.1 9.6c-.8 8.7-14.5 4.7-7.7 14c-4.4-6.3-11-.2-2.7.4c-8.9 6.8-29.6 8-39.5 19.3c-6.4 9.2-12.3 6.3-11.4-.4m71.1 32c-6.8 16.4-13.4-2.4-1.4-5.4c3 1.6 4.2 2.1 1.4 5.4m-25.6-32.8c-2-7.4-.4-3.5 11.5-7c8.2 5.9-7.3 9.8-11.5 7m186.2 293.5c-9.4-16.2 11.4-31.2 18.4-44.8c-.9 15.9-2.9 31.6-18.4 44.8m35.4-185.1c-10.2.8-19.4 3.2-28.6-2.6c-21.2-23.2 3.9 26.2 10.9 6c25.2 9.6-.4 51-16.3 46.7c-8.9-19.2-19.9-40.3-39.3-49.7c14.9 16.5 22.3 36.8 38.3 51.7c1.1 20.8 22.2-7.6 20.9 8.5c2 27.7-31.3 44.3-25.5 72.1c12.4 25.3-23.9 29.9-19.8 52.6c-14.6 16.3-30.2 38.3-56.4 34.8c0-13.8-7-25.5-8.6-39.7c-14.2-18 15-37.3-3.1-56.1c-20.9-4.7 4.3-33.5-17.2-30.8c-12.9-12.9-31.8-.4-50.3-.3c-23.2 2.2-47.1-28.5-36.8-50.2c-8.2-22.6 26-29.2 26.9-49.1c16.4-13.7 39.7-12 61.9-15.2c-1.6 15.9 15.2 16 27.9 21.3c7.1-17.2 29.2 2.8 44.3-8.1c5.2-25.4-14.7-10.1-26.1-18.2c-13.8-20.2 29.5-10.4 25-21c-16.8-.1-7.3-20.7-19.2-9.2c10.7 1.9-1.9 10.3-1.6.7c-16.2-4.7-.6 18.4-8.8 20.6c-12.5-5.2-6.6 5.9-5.3 7.6c-5.4 11.7-12-17.2-27.3-16.4c-15.2-13.9-6 6.3 7.2 9.6c-2.8.8 1.6 12.3-1.9 7.4c-10.9-15-31.6-25-43.9-6.6c-1.3 17.2-36.3 22.1-30.7 2c-8.2-20.8 25.4-.6 22.3-17.2c-21.6-14.3 5.9-9.7 13.2-23.1c16.6.5.7-13.6 8.5-17.7c-.8 15.3 12.7 12.4 23.4 9.5c-2.6-8.8 6.4-8.5.9-15.8c24.8-9.9-18.9 4.6-10.1-17.1c-10.7-7.4-4.5 16.3 0 18.8c.3 7.3-5.9 16.3-14.4 1c-12.4 8.1-11.1-8.2-11.9-6.5c-1.4-6.3 9.4-6.6 9.5-17.6c-.9-7-.7-10.7 4.3-11.1c.4 1 20.5 1.3 27.6 9.6c-19.4-3.9-2.9 3.2 5.8 7.2c-9.3-7.3 3.7 0-3.9-8.3c3 .6-8.3-11.4 3.3-.9c-6.3-7.5 12.3-5.3 1.3-10.9c16.1 4.5 6.6.4-2.9-3.7c-26.2-15.6 46.3 21.1 16.7 4.8c18.9 4.1-40.4-14.6-13.4-6.4c-10.3-4.5-.3-2 9 .9c-16.7-5.2-41.7-14.9-40.7-15.3c5.8.4 11.5 1.7 17 3.3c17.1 5.1-4.9-1.2-.2-1.1c58.8 15.1 110.3 54.5 141.6 106c7.3 7.7 27.2 58.6 16.8 36c4.7 18 5.4 37.4 7.9 55.8c-5.2-5.8-11-27.2-16-39.1c-2.1 4.6-4.5-6.5-12.2-9.5" /></svg>
                                            <br /><br />
                                        </div>
                                        <span class="count" style="left:38% ">@Eng4You.Resources.Resource._95</span>
                                        <br />
                                        <div class="fact__title" style="text-align:center;position:relative;transform:translateX(+20%)">
                                            <h2 style="text-align:center;position:relative">@Eng4You.Resources.Resource.COUNTRIES_EXPERIENCE</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br /><br />
    <div class="wrapper" dir="@Eng4You.Resources.Resource.dir">

        <div class="title">
            <h4> <span style="color:#ffcc00; font-weight:bold;">@Eng4You.Resources.Resource.Team</span> <span>@Eng4You.Resources.Resource.Eng</span><span style="color:#ffcc00"> @Eng4You.Resources.Resource._for </span><span>@Eng4You.Resources.Resource.You</span></h4>
        </div>

        <div class="py-5  team1">
            <div class="container">
                <div class="row">
                    <!-- column  -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card-shadow border-0 mb-4" style="background-color:#000">
                            <!-- Row -->
                            <div class="row no-gutters" style="height:270px">
                                <div class="col-md-5 pro-pic" style="border-radius:20px;background:url(/images/Aya.jpeg) no-repeat center center / cover">  </div>
                                <div class="col-md-7" style="background-color:#000">
                                    <div class="p-4" dir="@Eng4You.Resources.Resource.dir" style="position:relative;text-align:start">
                                        <h6 class="mb-3 font-weight-medium" style="color:#fff">@Eng4You.Resources.Resource.Engr.@Eng4You.Resources.Resource.Aya_AL_Awesat_<span style="color: #ffcc00; font-weight: bold;font-size:20px"> @Eng4You.Resources.Resource.SE</span></h6>
                                        <p style="color:#fff">@Eng4You.Resources.Resource.Boss_and_owner_of <span style="font-weight:bold">@Eng4You.Resources.Resource.Eng<span style="color:#ffcc00;"> @Eng4You.Resources.Resource._for </span>@Eng4You.Resources.Resource.You_tr_aya</span> @Eng4You.Resources.Resource.a_manager_of_its_software_department_.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                    <!-- column  -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card-shadow border-0 mb-4" style="background-color:#ffcc00">
                            <!-- Row -->
                            <div class="row no-gutters" style="height:270px">
                                <div class="col-md-5 pro-pic" style="border-radius:20px;background:url(/images/Abdallah.jpeg) no-repeat center center / cover">
                                </div>
                                <div class="col-md-7" style="background-color:#ffcc00">
                                    <div class="p-4" dir="@Eng4You.Resources.Resource.dir" style="position:relative;text-align:start">
                                        <h6 class="mb-3 font-weight-medium" style="color:#000">@Eng4You.Resources.Resource.Engr.@Eng4You.Resources.Resource.Abdallah_Abuali_<span style="color: #fff; font-weight: bold;font-size:20px"> @Eng4You.Resources.Resource.ME</span></h6>
                                        <p style="color:#000">@Eng4You.Resources.Resource.Mechanical_engineer__who_is_the_responsible_for_the_mechanical_department (<span style="font-weight:bold;text-decoration:line-through solid 1.5px"> @Eng4You.Resources.Resource.Cars_Engineering_ </span>) @Eng4You.Resources.Resource._in <span style="font-weight:bold">@Eng4You.Resources.Resource.Eng<span style="color:#fff;"> @Eng4You.Resources.Resource._for </span>@Eng4You.Resources.Resource.You</span>.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                    <!-- column  -->
                </div>
                <div class="row">
                    <!-- column  -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card-shadow border-0 mb-4" style="background-color:#ffcc00">
                            <!-- Row -->
                            <div class="row no-gutters" style="height:270px">
                                <div class="col-md-5 pro-pic" style="border-radius:20px;background:url(/images/Jinan.jpeg) no-repeat center center / cover"></div>
                                <div class="col-md-7" style="background-color:#ffcc00">
                                    <div class="p-4" dir="@Eng4You.Resources.Resource.dir" style="position:relative;text-align:start">
                                        <h6 class="mb-3 font-weight-medium" style="color:#000">@Eng4You.Resources.Resource.Engr.@Eng4You.Resources.Resource.Jinan_Zahaika_<span style="color: #fff; font-weight: bold; font-size: 20px"> @Eng4You.Resources.Resource.SE</span></h6>
                                        <p style="color:#000;font-size:16px">@Eng4You.Resources.Resource.Administrative_assistant_in <span style="font-weight:bold">@Eng4You.Resources.Resource.Eng<span style="color:#fff;"> @Eng4You.Resources.Resource._for </span>@Eng4You.Resources.Resource.You_tr_jinan</span> @Eng4You.Resources.Resource.__who_is_the_responsible_for_the_software_department.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                    <!-- column  -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card-shadow border-0 mb-4" style="background-color:#000">
                            <!-- Row -->
                            <div class="row no-gutters" style="height:270px">
                                <div class="col-md-5 pro-pic" style="border-radius:20px;background:url(/images/Salam.jpeg) no-repeat center center / cover"></div>
                                <div class="col-md-7" style="background-color:#000">
                                    <div class="p-4" dir="@Eng4You.Resources.Resource.dir" style="position:relative;text-align:start">
                                        <h6 class="mb-3 font-weight-medium" style="color:#fff">@Eng4You.Resources.Resource.Engr.@Eng4You.Resources.Resource.Salam_Qarish_<span style="color: #ffcc00; font-weight: bold; font-size: 20px"> @Eng4You.Resources.Resource.CS</span></h6>
                                        <p style="color:#fff">@Eng4You.Resources.Resource.A_cyber_security_engineer__who_is_the_responsible_for_the_security_department @Eng4You.Resources.Resource.and_discovering_security_vulnerabilities_in_everything_related_to <span style="font-weight:bold"> @Eng4You.Resources.Resource.Eng<span style="color:#ffcc00;"> @Eng4You.Resources.Resource._for </span>@Eng4You.Resources.Resource.You_Tr_salam</span>.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                    <!-- column  -->
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card-shadow border-0 mb-4" style="background-color:#000">
                            <!-- Row -->
                            <div class="row no-gutters" style="height:270px">
                                <div class="col-md-5 pro-pic" style="border-radius:20px;background:url(/images/Bshar.jpeg) no-repeat center center / cover"></div>
                                <div class="col-md-7" style="background-color:#000">
                                    <div class="p-4" dir="@Eng4You.Resources.Resource.dir" style="position:relative;text-align:start">
                                        <h6 class="mb-3 font-weight-medium" style="color:#fff">@Eng4You.Resources.Resource.Engr.@Eng4You.Resources.Resource.Bshar_Awad_<span style="color: #ffcc00; font-weight: bold; font-size: 20px"> @Eng4You.Resources.Resource.AE</span></h6>
                                        <p style="color:#fff">@Eng4You.Resources.Resource.Who_is_the_responsible_for_the_design_and_architecture_department_in <span style="font-weight:bold">@Eng4You.Resources.Resource.Eng<span style="color:#ffcc00;"> @Eng4You.Resources.Resource._for </span>@Eng4You.Resources.Resource.You_Tr_Bshar</span>.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                    <!-- column  -->
                </div>
            </div>
        </div>

    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/index.js"></script>
    <script src="~/js/languages_menu.js"></script>
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/js/translate-name-section.js"></script>
    <script src="~/js/counter-up-about.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Counter-Up Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdn.rawgit.com/bfintal/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

</body>
</html>
